/* Vaste variabelen voor de nek*/
:root {
    --neckWidth: 14vw;
    --neckHeight: calc(var(--neckWidth) * 3);
}

/* Vaste variabelen voor de wing(vleugels)*/
:root {
    --wingWidth: 50vw;
    --wingHeigt: calc(var(--wingWidth) * 2);
}

ul {
  list-style: none;
}

/* In de main worden alle elementen van de zwaan gepositioneerd. */
main {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(255 200 0);
  display: grid;
  place-items: center;
}

/* de face, body & neck ga ik positionere met 'swan' die is de parent. */
.swan {
  background-color: rgb(0 0 255);
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  /* met bottom 10 calc 50% en correctie -5em zet ik de swan precies in het midden */
  flex-wrap: wrap;
}

.face {
  width: 26%;
  aspect-ratio: 1/1;
  background-color: rgb(255 255 255);
  border-radius: 100%;
  /* om the face te centreren met het lijft gebruiken we de onderstaande codes */
  position: absolute;
  left: 30%;
  top: 12%;
  transform: translate(-50%, 0%);
  z-index: 52;
}

.beak {
  width: 25%;
  aspect-ratio: 1/1;
  background-color: rgb(255 0 0);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: rotate(210deg);
  position: absolute;
  top: 80%;
  right: 76%;
}

.eye {
  width: 15%;
  aspect-ratio: 1/1;
  background-color: rgb(0 0 0);
  border-radius: 100%;
  position: absolute;
  left: 43%;
  top: 40%;
}

.faceblack {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(0 0 0);
  position: absolute;
  border-radius: 100%;
  background: conic-gradient(
    from 90deg at 50% 50%,
    rgba(255, 255, 0, 1) 14%,
    rgba(233, 30, 99, 1) 14%,
    rgba(233, 30, 99, 1) 44%,
    rgba(255, 255, 0, 1) 45%
  );
}

.bodyswan {
  width: 70%;
  aspect-ratio: 3/2;
  background-color: rgb(255 255 255);
  border-radius: 100%;
  position: absolute;
  top: 51%;
  left: 25%;
  z-index: 53;
}

.neck {
  border-style: solid;
  width: var(--neckWidth);
  height: var(--neckHeight);
  position: absolute;
  bottom: 59%;
  left: 1%;
  background-color: transparent;
  border-radius: 50% 50% 69% 31% / 33% 33% 67% 67%;
  border-width: calc(var(--neckWidth) * .7);
  border-color: white white transparent transparent;
}

.tail {
  width: 65%;
  aspect-ratio: 1/1;
  /* background-color:rgb(230 44 50); */
  border-radius: 100%;
  position: absolute;
  bottom: 30%;
  left: 30%;
  z-index: 0;
/* Voor de hap in de staart background-image:radial gradient* 
methode toegepast op de kleinere staart maar dan andersom met webkit-mask-image*/
  background-image: radial-gradient(
    circle at 10% 10%,
    transparent 35%,
    rgb(255, 255, 255) 35%
  );
  /* filter: drop-shadow(-2em 2em 2em black); */

}

.tail::after {
  content: "";
  width: 65%;
  aspect-ratio: 1/1;
  background-color: rgb(255 255 255);
  border-radius: 100%;
  position: absolute;
  bottom: 20%;
  left: 50%;

  -webkit-mask-image: radial-gradient(
      circle at 10% 10%, 
      #fff0 45%, 
      #fff 45%);
  mask-image: radial-gradient(
      circle at 10% 10%, 
      #fff0 45%, 
      #fff 45%);
}

/* Wing = box voor alle onderdelen van de vleugels van de zwaan.*/
.wing {
  width: 100%;
  aspect-ratio: 3/1.8;
  background-color: rgb(230 200 40);
  position: absolute;
  z-index: 50;
}

.wingLeft {
    border-style: solid;
    width: calc(var(--wingWidth)*.6);
    height: calc(var(--wingHeigt) * .4);
    position: absolute;
    border-radius: 25%;
    background-color: rgb(0 200 10);
    border-width: calc(var(--wingWidth) * .2);
    border-color: rgb(0 0 0);
  }